@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Rubik:ital,wght@0,300..900;1,300..900&family=Triodion&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: 'Kulag';
  src: url('../fonts/KULAG-Regular.woff2') format('woff2'),
       url('../fonts/KULAG-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'KulagOutline';
  src: url('../fonts/KULAG-Outline.woff2') format('woff2'),
       url('../fonts/KULAG-Outline.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-main: #262424;
  --black-600: #5e5e5e;
  --white-main: #ffffff;
  --gray-light: #b3b3b3;
  --white-800: #eeeeee;
  --golden-acsent: #c99c6f;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: var(--white-800);
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 15px;
}

/* === Общий стиль === */
.works {
  padding-top: 100px;
}

h1 {
  color: #222;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

/* === Галерея === */
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 15px;
  padding: 40px 0;
  padding-bottom: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
}


/* === Карточка папки === */
.folder {
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 50px 30px 40px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  background-image: url(img/main-photo.jpg);
  background-size: cover;
  height: 180px;
}

.folder:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.folder-icon {
  font-size: 58px;
  display: inline-block;
  background: linear-gradient(135deg, #f9d423, #ff4e50);
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.folder span:last-child {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: start;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: background 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
}

#gallery img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

#gallery img:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

#back-button {
  display: none;
  margin: 20px auto 0;
  padding: 10px 25px;
  background: linear-gradient(135deg, #222, #444);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.2s;
}

#back-button:hover {
  background: linear-gradient(135deg, #000, #333);
  transform: translateY(-2px);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(255,255,255,0.15);
  transition: transform 0.4s ease;
}

.lightbox img:hover {
  transform: scale(1.02);
}



/*--------------------------------burger-button---------------------------------*/
.burger-button {
  --height: 18px;
  --ratio: 1.5;
  --width: calc(var(--height) * var(--ratio));
  --color: #000000;

  width: var(--width);
  height: var(--height);

  position: relative;
  cursor: pointer;

  display: none;
}
.burger-button::before, .burger-button::after, .burger-button div {
  content: '';
  width: var(--width);
  height: 0px;
  position: absolute;
  left: 0%;
  transform-origin: center;
  transition: 0.3s;
  border: 1px solid var(--color);
  box-sizing: border-box;
}
.burger-button::before {
  top: 0;
}
.burger-button::after {
  bottom: 0;
}
.burger-button div {
  top: 50%;
  transform: translateY(-50%);
}

.burger-button.active::before {
  top: 50%;
  transform: translateY(-50%) rotateZ(45deg);
}
.burger-button.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.burger-button.active  div {
  opacity: 0;
}

.sidebar {
  --background: #ffffff;
  position: fixed;
  left: 0px;
  top: -110%;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  z-index: 100;
  transition: 0.3s;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar.opened {
  top: 0px;
}

@media(max-width:700px){
  .burger-button {
    display: block;
  }
}

/*------------------------------------------------------main-part---------------------------------------------------*/
.header {
  width: 100%;
  background-color: var(--white-main);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  box-shadow: 0 1px 5px 1px var(--black-600);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media(max-width:700px){
  header .header-menu {
    display: none;
  }
}
.header-menu.header-panel {
  flex-direction: column;
}

.header-logo {
  color: var(--black-main);
  font-size: 22px;
}

.main-screen {
  background: url('img/main-photo-new.jpg') top no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.main-block-container {
  position: relative;
  min-height: 100vh;
}
.main-flur-bkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.3);
}
.main-content {
  position: absolute;
  bottom: 80px;
  left: 15px;
  color: var(--white-main);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.main-content-title {
  font-size: 45px;
  font-weight: 500;
}
.main-content-subtitle {
  font-size: 22px;
  max-width: 600px;
}
.main-button {
  padding: 15px 40px;
  font-size: 22px;
  font-weight: 100;
  border-radius: 5px;
  background: linear-gradient(90deg, #b76c22, #e78a2e, #c99c6f);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.9);
  color: var(--white-main);
  background-size: 200%;
  transition: background-position 0.6s ease;
}
.main-button a {
  color: #fff;
}
.main-button:hover {
  box-shadow: none;
}
@media(max-width: 1100px){
  .main-content {
    max-width: 50%;
  }
  .main-content-title {
    font-size: 38px;
  }
  .main-content-subtitle {
    font-size: 20px;
    max-width: 100%;
  }
}
@media (max-width:900px){
  .main-content {
    gap: 10px;
    bottom: 55px;
  }
}

@media (max-width:600px){
  .main-content {
    gap: 5px;
    bottom: 35px;
  }
  .main-button {
    padding: 12px 25px;
    font-size: 20px;
    margin-top: 10px;
  }
  .main-content-title {
    font-size: 28px;
  }
  .main-content-subtitle {
    font-size: 15px;
  }
}
@media (max-width:600px){
  .main-content {
    max-width: calc(100% - 30px);
  }
  .main-screen {
    background: url('img/main-photo-new-adp.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
  }
}

.footer {
  background-color: var(--black-main);
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 80px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: var(--white-main);
}
.footer-logo {
  color: var(--white-main);
}
.footer-contact-block {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer-text {
  color: var(--white-main);
  font-size: 18px;
}
.phone-number {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.location {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.phone-number img {
  width: 20px;
}
.location img {
  width: 20px;
}
.media-block {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.media-block-item-bkg {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--white-main);
}
.media-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 30px;
  aspect-ratio: 1;
  z-index: 10;
}
.media-block a {
  position: relative;
}

@media (max-width:500px) {
  .works {
    padding-top: 60px;
  }
  h1{
    padding-top: 0;
  }
  .footer .container {
    flex-direction: column;
    gap: 20px;
  }
  .footer {
    padding-top: 20px;
  }
  .footer-logo {
    font-size: 30px;
  }
}

.info-line .container {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  align-items: center;
  gap: 50px;

  max-width: 600px;
  height: auto !important;
}
.info-line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -50px;
  right: 15px;
  background-color: var(--white-main);
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  border-radius: 15px;
}
.info-line-item {
  font-size: 16px;
  color: var(--black-main);
  transition: 0.3s;
}
.info-line .container a:hover {
  .info-line-item {
    font-size: 16px;
    color: var(--golden-acsent);
  }
}
.info-line img {
  width: 65px;
  aspect-ratio: 1;
}
.info-line a {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.section-about {
  padding-top: 80px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: end;
  gap: 30px;
  padding-top: 50px;
}
.about-content-img {
  max-width: 100%;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
.about-content-img img {
  max-width: 100%;
  border-radius: 20px;
}
.about-content-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  gap: 25px;
  grid-column-start: 1;
  grid-column-end: 4;
}
.about-info-title {
  font-size: 30px;
  font-weight: 500;
}
.about-info-subtitle {
  font-size: 20px;
}
.about-content-info-img {
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
}
.about-content-info-img img{
  border-radius: 10px;
  max-width: 100%;
}

@media(max-width:800px){
  .about-content {
    gap: 10px;
  }
  .about-content-info {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .about-content-img {
    max-width: 100%;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .about-content-info-img {
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
@media (max-width:600px){
  .about-info-title {
    font-size: 28px;
  }
  .about-info-subtitle {
    font-size: 15px;
  }
}
@media(max-width:490px){
  .about-content {
    gap: 20px;
    padding-top: 40px;
  }
  .about-content-info {
    grid-column-start: 1;
    grid-column-end: 6;
    gap: 10px;
  }
  .about-content-img {
    max-width: 100%;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: none;
  }
  .about-content-info-img {
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;

  }
}

/* ------------------------------- END ABOUT ------------------------------- */





@media (max-width:768px){
  h1{
    font-size: 32px;
    font-weight: 700;
  }
  #gallery {
    gap: 20px;
  }
}

.gallery-title {
  font-size: 50px;
  font-weight: 700;
}